<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.system.mapper.ClassLogMapper">

    <resultMap type="com.sp.system.entity.ClassLog" id="ClassLogResult">
        <result property="id"    column="id"    />
        <result property="studentClass"    column="student_class"    />
        <result property="teacher"    column="teacher"    />
        <result property="course"    column="course"    />
        <result property="courseType"    column="course_type"    />
        <result property="content"    column="content"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>

    <sql id="selectClassLogVo">
        SELECT id, student_class, teacher, course, course_type, content, start_date, end_date, update_date
        FROM class_log
    </sql>

    <select id="selectPastMonthClassLogByStudentClass" parameterType="java.lang.String" resultMap="ClassLogResult">
        <include refid="selectClassLogVo"/>
        WHERE student_class = #{studentClass}
        AND start_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AND DATE_SUB(CURDATE(), INTERVAL 1 DAY)
        AND course_type IN ('功課', '測驗')
        ORDER BY start_date DESC
    </select>

    <select id="selectTodayClassLogByStudentClass" parameterType="java.lang.String" resultMap="ClassLogResult">
        <include refid="selectClassLogVo"/>
        WHERE student_class = #{studentClass}
        AND DATE(start_date) = CURDATE()
        AND course_type IN ('功課', '測驗')
        ORDER BY start_date
    </select>

    <select id="selectNextSevenDaysClassLogByStudentClass" parameterType="java.lang.String" resultMap="ClassLogResult">
        <include refid="selectClassLogVo"/>
        WHERE student_class = #{studentClass}
        AND DATE(start_date) BETWEEN DATE_ADD(CURDATE(), INTERVAL 1 DAY) AND DATE_ADD(CURDATE(), INTERVAL 7 DAY)
        AND course_type IN ('功課', '測驗')
        ORDER BY start_date
    </select>

</mapper>
