<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.system.mapper.DepartmentParentBindingMapper">

    <select id="selectByParentUserId" parameterType="map" resultType="java.lang.Long">
        SELECT department_id FROM sys_department_parent_binding
        WHERE parent_user_id = #{parentUserId}
        <if test="studentUserId != null and studentUserId != ''">
            AND student_user_id = #{studentUserId}
        </if>
        LIMIT 1
    </select>

    <select id="checkHasBoundStudents" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM sys_department_parent_binding
        WHERE parent_user_id = #{parentUserId}
    </select>

</mapper>
