<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.system.mapper.SchoolFamilyContactMapper">

    <select id="countByParentUserId" resultType="int">
        SELECT COUNT(*)
        FROM sys_school_family_contact
        WHERE parent_user_id = #{parentUserId}
    </select>

</mapper>
